:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  height: 100vh;
  width: 100%;
  font-weight: 400; 
  font-style: normal;
}

a {
  text-decoration: none;
  color: #faf8f8;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  height: 60px;
  position: fixed;
  z-index: 10;
}

.listcard {
  width: 80px;
}

.fon{
  font-size: 25px;
  margin-top: 18%;
  font-style:normal;
}

table {
  background-color: #d2cdcd;
}

header .logo h4 {
  margin: 0;
  padding: 0;
  color: white;
}

nav ul {
  margin: 0;
  padding-left: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 15px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
  margin-right: 0%;
}

nav ul li a:hover {
  color: #48b4af;
}